.DS_Store

# virtualenv
venv/
ENV/
env/
env2/

# Files
/05-Luncz/_recordings/*.csv
/05-Luncz/_recordings/*.txt
/05-Luncz/_recordings/*.wav
/05-Luncz/_recordings/backup/*.csv
/05-Luncz/_recordings/backup/*.txt
/05-Luncz/_recordings/backup/*.wav
